/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../font/MyriadProRegular/MyriadProRegular.eot");
    src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../font/MyriadProBold/MyriadProBold.eot");
    src: url("../font/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../font/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../font/MyriadProItalic/MyriadProItalic.eot");
    src: url("../font/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../font/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../font/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../font/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../font/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../font/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../font/PTSansRegular/PTSansRegular.eot");
    src: url("../font/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../font/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../font/PTSansItalic/PTSansItalic.eot");
    src: url("../font/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../font/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../font/PTSansBold/PTSansBold.eot");
    src: url("../font/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../font/PTSansBold/PTSansBold.woff") format("woff"),
    url("../font/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */

/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../font/OpenSansRegular/OpenSansRegular.eot");
    src: url("../font/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../font/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "OpenSansLight";
    src: url("../font/OpenSansLight/OpenSansLight.eot");
    src: url("../font/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansLight/OpenSansLight.woff") format("woff"),
    url("../font/OpenSansLight/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansItalic"; */
@font-face {
    font-family: "OpenSansItalic";
    src: url("../font/OpenSansItalic/OpenSansItalic.eot");
    src: url("../font/OpenSansItalic/OpenSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansItalic/OpenSansItalic.woff") format("woff"),
    url("../font/OpenSansItalic/OpenSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../font/OpenSansBold/OpenSansBold.eot");
    src: url("../font/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../font/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../font/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../font/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../font/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBoldItalic"; */
@font-face {
    font-family: "OpenSansExtraBoldItalic";
    src: url("../font/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot");
    src: url("../font/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.woff") format("woff"),
    url("../font/OpenSansExtraBoldItalic/OpenSansExtraBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBoldItalic"; */
@font-face {
    font-family: "OpenSansBoldItalic";
    src: url("../font/OpenSansBoldItalic/OpenSansBoldItalic.eot");
    src: url("../font/OpenSansBoldItalic/OpenSansBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansBoldItalic/OpenSansBoldItalic.woff") format("woff"),
    url("../font/OpenSansBoldItalic/OpenSansBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansRegularItalic"; */
@font-face {
    font-family: "OpenSansRegularItalic";
    src: url("../font/OpenSansRegularItalic/OpenSansRegularItalic.eot");
    src: url("../font/OpenSansRegularItalic/OpenSansRegularItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansRegularItalic/OpenSansRegularItalic.woff") format("woff"),
    url("../font/OpenSansRegularItalic/OpenSansRegularItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../font/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../font/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../font/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBoldItalic"; */
@font-face {
    font-family: "OpenSansSemiBoldItalic";
    src: url("../font/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot");
    src: url("../font/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.woff") format("woff"),
    url("../font/OpenSansSemiBoldItalic/OpenSansSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProRegular"; */
@font-face {
    font-family: "MyriadProRegular";
    src: url("../font/MyriadProRegular/MyriadProRegular.eot");
    src: url("../font/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../font/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../font/MyriadProBold/MyriadProBold.eot");
    src: url("../font/MyriadProBold/MyriadProBold.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProBold/MyriadProBold.woff") format("woff"),
    url("../font/MyriadProBold/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProItalic"; */
@font-face {
    font-family: "MyriadProItalic";
    src: url("../font/MyriadProItalic/MyriadProItalic.eot");
    src: url("../font/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProItalic/MyriadProItalic.woff") format("woff"),
    url("../font/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBold"; */
@font-face {
    font-family: "MyriadProSemiBold";
    src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot");
    src: url("../font/MyriadProSemiBold/MyriadProSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProSemiBold/MyriadProSemiBold.woff") format("woff"),
    url("../font/MyriadProSemiBold/MyriadProSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProBoldItalic"; */
@font-face {
    font-family: "MyriadProBoldItalic";
    src: url("../font/MyriadProBoldItalic/MyriadProBoldItalic.eot");
    src: url("../font/MyriadProBoldItalic/MyriadProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProBoldItalic/MyriadProBoldItalic.woff") format("woff"),
    url("../font/MyriadProBoldItalic/MyriadProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "MyriadProSemiBoldItalic"; */
@font-face {
    font-family: "MyriadProSemiBoldItalic";
    src: url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot");
    src: url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.woff") format("woff"),
    url("../font/MyriadProSemiBoldItalic/MyriadProSemiBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/*/////////CenturyGothic-Bold/////////*/
@font-face {
    font-family: "Century Gothic - Bold";
    src: url("../font/Century Gothic - Bold/CenturyGothic-Bold.eot");
    src: url("../font/Century Gothic - Bold/CenturyGothic-Bold.eot?#iefix")format("embedded-opentype"),
    url("../font/Century Gothic - Bold/CenturyGothic-Bold.woff") format("woff"),
    url("../font/Century Gothic - Bold/CenturyGothic-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*Montserrat-Bold*/
@font-face {
    font-family: "Montserrat-Bold";
    url("../font/Montserrat-Bold/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}