html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;

	vertical-align: baseline;
}
html{
	height: 100%;
	line-height: 1;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
	height: 100%;
	background: #ffffff;
	width: 100%;
}
*{

	margin: 0;
	padding: 0;
	outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
.clearfix:before, 
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after{
	clear: both;
}
.wraper{
	width: 100%;
}
.container{
	max-width: 940px;
	margin: 0 auto;
	width: 100%;
}
/*-----------header------------*/
.header{
	/*max-width: 940px;*/
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	top: 10px;
}
.header_top{
	height: 63px;
	background-image: url("image/menu_top.jpg");
}

.header_logo{
	float: left;
	margin: 11px 13px 11px 13px;

}
.header_logo a{
	display: block;
}
.logo{
	max-width: 160px;
	max-height: 52px;
}
.number{
	display: inline-block;
	vertical-align: top;
	padding: 21px 0 5px 21px;
	float: right;


}
.number .header_number{
	color: #666666;
	font: 18px OpenSansBold, sans-serif;
	text-decoration: none;
	padding-left: 11px;
	position: relative;
}
.icophone:before{
	position: absolute;
	content: " ";
	max-width: 18px;
	max-height: 18px;
}
.sign{
	float: right;
	text-align: left;
	vertical-align: top;
	padding: 25px 0 25px 21px;
	margin-right: 20px;
	margin-left: 50px;

}
.Login{
	font:10px "Century Gothic - Bold", sans-serif;
	color: #019140;
	vertical-align: top;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}

.bt_nav{
	line-height: 10px;
	font: 10px "Century Gothic - Bold", sans-serif;
	text-transform: uppercase;
	padding: 0 17px;
	height: 10px;
	vertical-align: top;
	background-color: #3baf48;
	border-radius: 15px;
	border-bottom: 2px solid #099542;
	color: white;
	text-decoration: none;
	margin-left: 13px;

}
.headerbottom{
	background: rgba(255,255,255,0.5);
	padding: 5px 0;
	border-radius: 0 0 10px 10px
}
.main_nav{
	padding: 4px 0;
	width: 50%;
}
.main_nav_list{
	text-align: left;
}


.main_nav_list:last-child{
	margin-right: 0;
	padding-right: 0;
}


.main_nav_list li{
	display: inline-block;
	padding: 0 13px 0 22px;
}
.main_nav_list a {
	display: block;
	width: 100%;
	height: 100%;
	color: #333333;
	font: 14px Montserrat-Bold, sans-serif;
	text-decoration: none;
	text-transform: capitalize;
}
li .active{
	line-height: 22px;
	font: 14px Montserrat-Bold, sans-serif;
	text-transform: capitalize;
	padding: 9px 17px;
	background-color: #3baf48;
	border-radius: 15px;
	border-bottom: 2px solid #099542;
	color: white;
	text-decoration: none;

}
.search{
	position: relative;
	float: right;

	display: inline-block;
}
.search_inpup{
	width: 240px;
	height: 24px;
	padding: 10px 13px 10px 27px;
	/*background: rgba(255,255,255);*/
	border: 1px solid #999999;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	border-radius: 12px;
	outline: none;
	margin: 10px 20px 18px 0;
}
.search_inpup::-webkit-input-placeholder{
	color: #999999;
}
.search_submit{
	background: url(image/home/search-icon.png) 0 0 no-repeat;
	width: 17px;
	height: 17px;
	display: block;
	border: none;
	position: absolute;
	bottom: 19px;
	left: 6px;
	vertical-align: middle;

}
#home{
	height: 468px;
	background: #ffffff url("image/home/home_bg.jpg") no-repeat center bottom;
	padding: 175px;
	text-align: center;
	color:#ffffff;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
#text_ban{
	float: left;
	padding: 0 62px 0 62px;
}
#home h1{
	color:#007c2d;
	font: 48px/48px Montserrat-Bold, sans-serif;
}
#home h3{
	color:#333333;
	font: 24px/24px Montserrat-Bold, sans-serif;
}

/*--------------advantages-----------*/
.advantages_wrap{
	position: relative;
	height: 115px;
	bottom: 2px;
	background-color: #f5f5f5;
	border-radius: 0 0 9px 9px;
	margin-bottom: 43px;
}

.advantages_item{
	float: left;
	width: 33.33%;
}
.advantages_item p{
	font: 13px/13px OpenSansRegular, sans-serif;
	color: #333333;

	vertical-align: middle;
	line-height: 15px;
	padding: 22px 14px 0 69px;
}
.experienced{
	background: url("image/adv/experienced.png") no-repeat left bottom;
	/*width: 62px;*/
	height: 70px;
}
.quality{
	background: url("image/adv/iquality.png") no-repeat left bottom;
	/*width: 62px;*/
	height: 70px;
}
.attention{
	background: url("image/adv/attention.png") no-repeat left bottom;
	/*width: 62px;*/
	height: 70px;
}
/*---------------score*---------------/*/
.title{
	font:18px "Century Gothic - Bold", sans-serif;
	color: #333333;
	margin-bottom: 20px;
}
.score_item{
	float: left;
	width: 25%;
	padding: 163px 13px 0 13px;
	border: 1px solid #dddddd;
	margin-right: 10px;
	border-top: 0 none;
	border-radius: 5px;

}
.score_item  #tutoring_text{
	line-height: 13px;
	font: 13px OpenSansRegular, sans-serif;
	color: #707070;
	margin-bottom: 22px;
}
.score_item  #classes_text{
	line-height: 13px;
	font: 13px OpenSansRegular, sans-serif;
	color: #707070;
	margin-bottom: 39px;
}
.score_item #blog_text{
	line-height: 13px;
	font: 13px OpenSansRegular, sans-serif;
	color: #707070;
	margin-bottom: 22px;
}
.score_item #store_text{
	line-height: 13px;
	font: 13px OpenSansRegular, sans-serif;
	color: #707070;
	margin-bottom: 4px;
}
.score_item h5{
	margin-bottom: 18px;
}
/*.score_item p{*/
	/*line-height: 13px;*/
	/*font: 13px OpenSansRegular, sans-serif;*/
	/*color: #707070;*/
	/*margin-bottom: 20px;*/
/*}*/

.score_item a{
	text-align: center;
	vertical-align: middle;

}
.title_wrap_tutoring{
	font:24px "Century Gothic - Bold", sans-serif;
	color: #019140;
}
.title_wrap_classes{
	font:24px "Century Gothic - Bold", sans-serif;
	color: #47c49b;
}
.title_wrap_Blog{
	font:24px "Century Gothic - Bold", sans-serif;
	color: #5bc2d3;
}
.title_wrap_Store{
	font:24px "Century Gothic - Bold", sans-serif;
	color: #78b9e5;
}
.Tutoringico{
	background: url("image/score/Tutoring.png") no-repeat center top;
	width: 220px;
}
.Classesico{
	background: url("image/score/Classes.png") no-repeat center top;
	width: 222px
}
.Blogico{
	background: url("image/score/blog.png") no-repeat center top;
	width: 222px;
}
.Storeico{
	background: url("image/score/store.png") no-repeat center top;
	width: 217px;
}
.bt_score{
	line-height: 10px;
	font: 10px arial bold, sans-serif;
	text-transform: uppercase;
	padding: 9px 21px;
	vertical-align: middle;
	background-color: #3baf48;
	border-radius: 15px;
	border-bottom: 2px solid #099542;
	color: white;
	text-decoration: none;
	margin: 0 41px 0 41px;
}
.bt_classes{
	line-height: 10px;
	font: 10px arial bold, sans-serif;
	text-transform: uppercase;
	padding: 9px 15px;
	vertical-align: middle;
	background-color: #4ecca3;
	border-radius: 15px;
	border-bottom: 2px solid #1f9b73;
	color: white;
	text-decoration: none;
	margin: 0 41px 0 41px;
}
.bt_Blog{
	line-height: 10px;
	font: 10px arial bold, sans-serif;
	text-transform: uppercase;
	padding: 9px 15px;
	vertical-align: middle;
	background-color: #7ebde8;
	border-radius: 15px;
	border-bottom: 2px solid #529ed2;
	color: white;
	text-decoration: none;
	margin: 0 41px 0 41px;
}
/*-----------aboutUs-------------*/
.aboutUs_wrap{
	margin-bottom: 48px;
}
.apps{
	float: left;
	width: 25%;
	padding: 63px 0;
}
.calender{
	position: relative;
	background: url("image/apps/calendar.png") no-repeat center top;
	height: 105px;
	width: 222px;
	margin-bottom: 27px;


}
.bt_calender{
	font:18px "Century Gothic - Bold", sans-serif;
	color: #d94b0c;
	line-height: 18px;
	text-decoration: none;
	position: absolute;
	top: 75px;
	background-color: #fdfdfd;
	left: 23px;
	padding: 2px 10px 5px 10px;
	border-radius: 15px;

}
.apps_title{
	font:18px "Century Gothic - Bold", sans-serif;
	color: #333333;
	margin-bottom: 10px;
}
.apps_store{
	width: 217px;
	height: 59px;
	margin-bottom: 10px;
}
.bt_apps_store{
	background:url("image/apps/Apple_logo.png") no-repeat center top;
	border: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.google_store{
	width: 220px;
	height: 62px;
}
.bt_google_store{
	background:url("image/apps/Google_logo.png") no-repeat center top;
	border: none;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.aboutus_title{
	float: left;
	width: 75%;
	padding: 63px 0;
}
.aboutus_title_main{
	font: 18px "Century Gothic - Bold", sans-serif;
	color: #333333;
	margin-bottom: 10px;
}
.abttext{
	border: 1px solid #dddddd;
	padding: 36px 0 33px 0;
	border-radius: 10px;
}

.abtextleft{
	width: 50%;
	text-align: left;
	font:13px OpenSansRegular, sans-serif;
	padding: 0 27px 0 27px;
	line-height: 21px;
	display: inline-block;
}
.abttextright{
	display: inline-block;
	width: 50%;
	line-height: 21px;
	text-align: left;
	float: right;
	padding: 0 30px 0 30px;
	font:13px OpenSansRegular, sans-serif;
}
/*-----------maps-------------*/
#findus{
	margin-bottom: 20px;
}
#googleMap{
	width: 100%;
	height: 312px;
	border-radius: 7px;
}
/*-----------footer-------------*/
#footer{
	height: 100%;
	background-color: #f7f7f7;
}
.footer_wrap{
	padding: 23px 0 40px 0;
}
.pages_title{
	font: 14px "Century Gothic - Bold", sans-serif;
	color: #666666;
	margin-bottom: 11px;
}
.line_pag {
	width: 129px;
	height: 1px; /* высота / толщина линии */
	background: #059147; /* фон / цвет линии */
	border: 0; /* рамка вокруг разделительной линии (уберем ее) */
	margin-bottom: 9px;
}
.line_class{
	height: 1px; /* высота / толщина линии */
	background: #059147; /* фон / цвет линии */
	border: 0; /* рамка вокруг разделительной линии (уберем ее) */
	margin-bottom: 9px;
}
.line_contact{
	height: 1px; /* высота / толщина линии */
	background: #4699c5; /* фон / цвет линии */
	border: 0; /* рамка вокруг разделительной линии (уберем ее) */
	margin-bottom: 9px;
}
.pages{
	width: 25%;
	float: left;
	color: #059147;
}
.pages_nav a {
	width: 100%;
	height: 100%;
	color: #333333;
	font: 13px OpenSansRegular, sans-serif;;
	text-decoration: none;
	text-transform: capitalize;
}
.pages_nav_list li{
	padding: 0 0 8px 0;
}
.classes{
	width: 50%;
	/*display: inline-block;*/
	float: left;
}
.classes_nav_list_left{
	float: left;
	width: 50%;
}
.classes_nav_list_left li{
	padding: 0 0 8px 0;
}
.classes_nav a{
	width: 100%;
	height: 100%;
	color: #333333;
	font: 13px OpenSansRegular, sans-serif;;
	text-decoration: none;
	text-transform: capitalize;
}
.classes_nav_list_right{
	float: right;
	width: 50%;
}
.classes_nav_list_right li{
	padding: 0 0 8px 0;
}
.Contact{
	width: 25%;
	display: inline-block;
	padding: 0 20px 0 20px;

}
.Contact_nav li{
	width: 100%;
	height: 100%;
	color: #333333;
	font: 13px OpenSansRegular, sans-serif;;
	text-decoration: none;
	text-transform: capitalize;
	margin-bottom: 2px;


}
.mail{
	color: #4699c5;
}